<h3>DEFEND</h3>
<h5>Choose your Pokemon's type(s)</h5>
                <form action="/defends" method="get">
                <div class="row justify-content-center">
                    
                    <div class ="col-sm-8 col-lg-3 col-md-4">
                        <input type="checkbox" class="btn-check dcheck" id="dnormal" autocomplete="off" name="type" value="normal">
                        <label class="btn normal" for="dnormal">Normal</label><br>
                    </div>

                    <div class ="col-sm-8 col-lg-3 col-md-4">
                        <input type="checkbox" class="btn-check dcheck" id="dfighting" autocomplete="off" name="type" value="fighting">
                        <label class="btn fighting" for="dfighting">Fighting</label><br>
                    </div>

                    <div class ="col-sm-8 col-lg-3 col-md-4">
                        <input type="checkbox" class="btn-check dcheck" id="dflying" autocomplete="off" name="type" value="flying">
                        <label class="btn flying" for="dflying">Flying</label><br>
                    </div>

                    <div class ="col-sm-8 col-lg-3 col-md-4">
                        <input type="checkbox" class="btn-check dcheck" id="dpoison" autocomplete="off" name="type" value="poison">
                        <label class="btn poison" for="dpoison">Poison</label><br>
                    </div>

                    <div class ="col-sm-8 col-lg-3 col-md-4">
                        <input type="checkbox" class="btn-check dcheck" id="dground" autocomplete="off" name="type" value="ground">
                        <label class="btn ground" for="dground">Ground</label><br>
                    </div>

                    <div class ="col-sm-8 col-lg-3 col-md-4">
                        <input type="checkbox" class="btn-check dcheck" id="drock" autocomplete="off" name="type" value="rock">
                        <label class="btn rock" for="drock">Rock</label><br>
                    </div>

                    <div class ="col-sm-8 col-lg-3 col-md-4">
                        <input type="checkbox" class="btn-check dcheck" id="dbug" autocomplete="off" name="type" value="bug">
                        <label class="btn bug" for="dbug">Bug</label><br>
                    </div>

                    <div class ="col-sm-8 col-lg-3 col-md-4">
                        <input type="checkbox" class="btn-check dcheck" id="dghost" autocomplete="off" name="type" value="ghost">
                        <label class="btn ghost" for="dghost">Ghost</label><br>
                    </div>

                    <div class ="col-sm-8 col-lg-3 col-md-4">
                        <input type="checkbox" class="btn-check dcheck" id="dsteel" autocomplete="off" name="type" value="steel">
                        <label class="btn steel" for="dsteel">Steel</label><br>
                    </div>

                    <div class ="col-sm-8 col-lg-3 col-md-4">
                        <input type="checkbox" class="btn-check dcheck" id="dfire" autocomplete="off" name="type" value="fire">
                        <label class="btn fire" for="dfire">Fire</label><br>
                    </div>

                    <div class ="col-sm-8 col-lg-3 col-md-4">
                        <input type="checkbox" class="btn-check dcheck" id="dwater" autocomplete="off" name="type" value="water">
                        <label class="btn water" for="dwater">Water</label><br>
                    </div>

                    <div class ="col-sm-8 col-lg-3 col-md-4">
                        <input type="checkbox" class="btn-check dcheck" id="dgrass" autocomplete="off" name="type" value="grass">
                        <label class="btn grass" for="dgrass">Grass</label><br>
                    </div>

                    <div class ="col-sm-8 col-lg-3 col-md-4">
                        <input type="checkbox" class="btn-check dcheck" id="delectric" autocomplete="off" name="type" value="electric">
                        <label class="btn electric" for="delectric">Electric</label><br>
                    </div>

                    <div class ="col-sm-8 col-lg-3 col-md-4">
                        <input type="checkbox" class="btn-check dcheck" id="dpsychic" autocomplete="off" name="type" value="psychic">
                        <label class="btn psychic" for="dpsychic">Psychic</label><br>
                    </div>

                    <div class ="col-sm-8 col-lg-3 col-md-4">
                        <input type="checkbox" class="btn-check dcheck" id="dice" autocomplete="off" name="type" value="ice">
                        <label class="btn ice" for="dice">Ice</label><br>
                    </div>

                    <div class ="col-sm-8 col-lg-3 col-md-4">
                        <input type="checkbox" class="btn-check dcheck" id="ddragon" autocomplete="off" name="type" value="dragon">
                        <label class="btn dragon" for="ddragon">Dragon</label><br>
                    </div>

                    <div class ="col-sm-8 col-lg-3 col-md-4">
                        <input type="checkbox" class="btn-check dcheck" id="ddark" autocomplete="off" name="type" value="dark">
                        <label class="btn dark" for="ddark">Dark</label><br>
                    </div>

                    <div class ="col-sm-8 col-lg-3 col-md-4">
                        <input type="checkbox" class="btn-check dcheck" id="dfairy" autocomplete="off" name="type" value="fairy">
                        <label class="btn fairy" for="dfairy">Fairy</label><br>
                    </div>

                    
                    </div>
                    <button type="submit" class="btn btn-primary submit">DEFEND</button>
                </form>