<div>
    <img class="background-img1" alt="">
    <div class="container">
        <div class="row align-items-center text-center ">
            <div class="col-10 mx-auto">
                <br>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-sm-12 box">               
                        <%- include('./attacktype.ejs') %>
                        </div>
                        <div class="col-lg-6 col-sm-12 box">
                        <%- include('./defensetype.ejs') %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>