<%- include('./partials/header.ejs') %>

<%- include('./partials/inputcheck.ejs') %>

<div>
    <h4 style="color: red;" class="text-center mt-2">Error: Please select at least one Defense Type</h1>
</div>

<%- include('./partials/statictop.ejs') %>


<%- include('./partials/footer.ejs') %>